{% if section.blocks.size > 0 %}
  <div class="slider-product-proposal">
    <div class="page-width slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-proposal__title">Product title</h2>
        <div class="slider-product-proposal__subtitle">Product subtitle</div>
      </div>
      <div class="slider-product-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {% assign product = block.settings.proposal_product %}
              <div class="slider-product-proposal__slider-item">
                <h4 class="slider-item__title">{{ product.title }}</h4>
              </div>
            {% endif %}
            
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}


{{ 'slick.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.7.0.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#shopify-section-{{section.id}} .slider-product-proposal__slider-list').slick();
  });
</script>
{% schema %}
  {
    "name": "Slider Products",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "product",
        "name": "Proposal product",
        "settings": [
          {
            "type": "product",
            "id": "proposal_product",
            "label": "Our proposal Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Products"
      }
    ]
  }
{% endschema %}